In [1]:
import pandas as pd
import numpy as np

In [2]:
table1=pd.DataFrame({"位置mm":[33.7651,33.78595,33.79149,33.81765,33.82365,33.84005,33.85649,33.87269]})
table2=pd.DataFrame({"距离差":[table1["位置mm"][i+4]-table1["位置mm"][i] for i in range(0,4)]})

table1

       位置mm
0  33.76510
1  33.78595
2  33.79149
3  33.81765
4  33.82365
5  33.84005
6  33.85649
7  33.87269

In [3]:
table2

       距离差
0  0.05855
1  0.05410
2  0.06500
3  0.05504

In [4]:
平均移动距离=sum(table2["距离差"])/4
平均波长=2*平均移动距离/200
标准波长=632.80*1e-6 #mm
百分误差=np.abs(平均波长-标准波长)/标准波长*100 #%
样本标准偏差=np.sqrt( np.sum(np.power(table2["距离差"]-平均移动距离,2)) / (4-1) )
样本标准偏差_1=样本标准偏差/np.sqrt(4)
样本标准偏差_2=(平均移动距离,样本标准偏差_1)
式2_1=样本标准偏差_1/平均移动距离*100 #%
式2_2=2*样本标准偏差_1/200


平均移动距离,平均波长,百分误差,样本标准偏差,样本标准偏差_1,样本标准偏差_2,式2_1,式2_2

(0.058172499999999516,
 0.0005817249999999952,
 8.07127054361642,
 0.00493811958137904,
 0.00246905979068952,
 (0.058172499999999516, 0.00246905979068952),
 4.244376278636023,
 2.46905979068952e-05)